{% extends "base.html" %}{% block title %} Privacy {% endblock %} {% block content %}
<div class="m-3 p-3 row border rounded border-light">
    <div>
        <p>
            <strong>Privacy Policy of Human Circle</strong>
        </p>
        <p>
            <span style="font-weight: 400;">This Application collects some Personal Data from its Users.</span>
        </p>
        <p>
            <span style="font-weight: 400;">The Data are collected and processed for the purposes set out below.</span>
        </p>
        <p>
            <span style="font-weight: 400;">The terms "We" / "Us" / "Our"/&rdquo;Company&rdquo; individually and collectively refer to &ldquo;Human Circle
                Enlightened Minds Pvt. Ltd.&rdquo; and the terms "You" /"Your" / "Yourself" refer to the users.</span>
        </p>
        <p>
            <span style="font-weight: 400;">This Privacy Policy is an electronic record in the form of an electronic contract formed under the information
                Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic documents
                / records in various statutes as amended by the information Technology Act, 2000. This Privacy Policy does
                not require any physical, electronic or digital signature.</span>
        </p>
        <p>
            <span style="font-weight: 400;">This document is published and shall be construed in accordance with the provisions of the Information Technology
                (reasonable security practices and procedures and sensitive personal data of information) rules, 2011 under
                Information Technology Act, 2000; that require publishing of the Privacy Policy for collection, use, storage
                and transfer of sensitive personal data or information.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Please read this Privacy Policy carefully by using the Website, you indicate that you understand, agree and consent
                to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use this
                Website.</span>
        </p>
        <p>
            <span style="font-weight: 400;">By providing us your Information or by making use of the facilities provided by the Website, You hereby consent
                to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal
                Information by us as specified under this Privacy Policy. You further agree that such collection, use, storage
                and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.</span>
        </p>
        <p>
            <strong>USER INFORMATION</strong>
        </p>
        <p>
            <span style="font-weight: 400;">To avail certain services on our Websites, users are required to provide certain information for the registration
                process namely: - a) your name, b) email address, c) sex, d) age, e) PIN code, f) credit card or debit card
                details g) medical records and history h) sexual orientation, i) biometric information, j) password etc.,
                and / or your occupation, interests, and the like. The Information as supplied by the users enables us to
                improve our sites and provide you the most user-friendly experience.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">All required information is service dependent and we may use the above said user information to, maintain, protect,
                and improve its services (including advertising services) and for developing new services</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Such information will not be considered as sensitive if it is freely available and accessible in the public domain
                or is furnished under the Right to Information Act, 2005 or any other law for the time being in force.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>COOKIES</strong>
        </p>
        <p>
            <span style="font-weight: 400;">To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic tools to
                collect information to assign each visitor a unique, random number as a User Identification (User ID) to
                understand the user's individual interests using the Identified Computer. Unless you voluntarily identify
                yourself (through registration, for example), we will have no way of knowing who you are, even if we assign
                a cookie to your computer. The only personal information a cookie can contain is information you supply (an
                example of this is when you ask for our Personalised Horoscope). A cookie cannot read data off your hard
                drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process
                that we do not control. </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Our web servers automatically collect limited information about your computer's connection to the Internet, including
                your IP address, when you visit our site. (Your IP address is a number that lets computers attached to the
                Internet know where to send you data -- such as the web pages you view.) Your IP address does not identify
                you personally. We use this information to deliver our web pages to you upon request, to tailor our site
                to the interests of our users, to measure traffic within our site and let advertisers know the geographic
                locations from where our visitors come. </span>
        </p>
        <p>
            <strong>LINKS TO THE OTHER SITES</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Our policy discloses the privacy practices for our own web site only. Our site provides links to other websites
                also that are beyond our control. We shall in no way be responsible in way for your use of such sites.</span>
            <strong>5.</strong>
        </p>
        <p>
            <strong>INFORMATION SHARING</strong>
        </p>
        <p>
            <span style="font-weight: 400;">We shares the sensitive personal information to any third party without obtaining the prior consent of the user
                in the following limited circumstances:</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>(a)</strong>
            <span style="font-weight: 400;"> When it is requested or required by law or by any court or governmental agency or authority to disclose, for
                the purpose of verification of identity, or for the prevention, detection, investigation including cyber
                incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief
                that such disclosure is reasonably necessary for enforcing these Terms; for complying with the applicable
                laws and regulations. </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>(b)</strong>
            <span style="font-weight: 400;"> We proposes to share such information within its group companies and officers and employees of such group companies
                for the purpose of processing personal information on its behalf. We also ensure that these recipients of
                such information agree to process such information based on our instructions and in compliance with this
                Privacy Policy and any other appropriate confidentiality and security measures.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>Data Processing Ownership</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Human Circle Foundation</span>
        </p>
        <p>
            <span style="font-weight: 400;">Lotus Boulevard</span>
        </p>
        <p>
            <span style="font-weight: 400;">Gautam Buddh Nagar</span>
        </p>
        <p>
            <span style="font-weight: 400;">Sector 100, Noida 201304</span>
        </p>
        <p>
            <span style="font-weight: 400;">info@HumanCircle.in</span>
        </p>
        <p>
            <strong>Types of Data collected</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Among the Data that this Application may collect there are: Cookie, Browsing and usage Data, Various types of
                data, Geographic position, Email, First Name, Last Name, Username, Password and Company name.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Other Personal Data collected may be highlighted by other sections of this privacy policy or by dedicated explanation
                text, in the moment when the Data collection happens. The Personal Data may be freely inserted by the User
                or the Data Subject, or collected automatically when using the Application.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Any use of Cookies by the Application or the owners of third party services used by the Application, unless stated
                otherwise, serves to identify the User and remember his/her preferences for the sole purpose of providing
                the service required by the User.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Failure to provide certain Personal Data, in particular Navigation Data, by deactivating the Application&rsquo;s
                Cookies may make it impossible to surf or for the Application to provide its services.</span>
        </p>
        <p>
            <span style="font-weight: 400;">The Personal Data collected may regard both the User and third parties whose data the User provides.</span>
        </p>
        <p>
            <span style="font-weight: 400;">The User assumes responsibility for the Personal Data of third parties published or shared through the Application
                and declares that (s)he has the right to communicate or broadcast them, thus relieving the Owner of all responsibility
                towards third parties.</span>
        </p>
        <p>
            <strong>Mode and place of processing the Data obtained</strong>
        </p>
        <p>
            <strong>Method of Processing</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Data Controller processes the Data of the Interested Parties and Users in a lawful and proper manner and
                shall take appropriate security measures to prevent unauthorized access, disclosure, modification or unauthorized
                destruction of the Data. Processing is carried out using computers and / or telematic means, with organizational
                methods and logics strictly related to the stated purposes.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">In addition to the owner, in some cases, access to the Data may be available to external parties (such as third
                party technical service providers, mail carriers, hosting providers, IT companies, communications agencies).
                The updated list of Managers may be requested from the Owner at any time.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">The data controller can process the data collected on any of the properties of Human Circle on any other properties.
                The four properties of Human Circle are</span>
            <a href="http://www.humancircle.in">
                <span style="font-weight: 400;">www.humancircle.in</span>
            </a>
            <span style="font-weight: 400;"> ,</span>
            <a href="http://www.youngindiachallenge.com">
                <span style="font-weight: 400;">www.youngindiachallenge.com</span>
            </a>
            <span style="font-weight: 400;">,</span>
            <a href="http://www.humancirclefoundation.com">
                <span style="font-weight: 400;">www.humancirclefoundation.com</span>
            </a>
            <span style="font-weight: 400;"> , www.dowhatyoulovefest.com</span>
        </p>
        <p>
            <strong>Place</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Data are processed at the headquarters of the Data Controller, unless stated otherwise in the rest of this
                document.</span>
        </p>
        <p>
            <strong>Conservation Time</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Data are kept for the time necessary to perform the service requested by the User, and the User can always
                ask for their suspension or removal.</span>
        </p>
        <p>
            <strong>The use of the collected Data</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Data concerning the User or the Data Subject are collected for the following purposes: Analytics, registration
                and authentication, Interaction with external social networks and platforms and Managing email addresses
                and sending messages.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">The kinds of Personal Data used for each purpose are given in the specific sections of this document.</span>
        </p>
        <p>
            <span style="font-weight: 400;">The use of Data for additional purposes by the Owner may in some cases, and for legal purposes, require specific
                consent by the User or the Data Subject.</span>
        </p>
        <p>
            <strong>Detailed information on the processing of Personal Data and the services provided by third parties</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Personal Data collected for the following purposes and using the following services:</span>
        </p>
        <p>
            <strong>Analytics</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to
                keep track of User behavior.</span>
        </p>
        <p>
            <strong>Google Analytics (Google)</strong>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Google Analytics is a web analysis service provided by Google Inc. (&ldquo;Google&rdquo;). Google utilizes the
                Data collected to track and examine Application use, to prepare reports on an Application&rsquo;s activities
                and share them with other Google services.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Google may use the Data collected to contextualize and personalize the ads of its own advertising network.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Cookie and Browsing and usage Data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="http://www.google.com/intl/en/policies/privacy/">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Registration and authentication</strong>
        </p>
        <p>
            <span style="font-weight: 400;">By registering or authenticating, Users allow the Application to identify them and give them access to dedicated
                services.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Depending on what is described below, third parties may provide registration and authentication services.</span>
        </p>
        <p>
            <span style="font-weight: 400;">In this case, the Application will be able to access some Data, stored by these third party services, for registration
                or identification purposes.</span>
        </p>
        <p>
            <strong>Facebook Authentication (Facebook)</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Facebook Authentication is a registration and authentication service provided by Facebook Inc. and is connected
                to the Facebook social network.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Various types of data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="http://www.facebook.com/help/?page=229348490415842">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Google Oauth (Google)</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Google Oauth is a registration and authentication service provided by Google Inc. and is connected to the Google
                network.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Various types of data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="https://developers.google.com/accounts/docs/OAuth">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Github Oauth (Github)</span>
        </p>
        <p>
            <span style="font-weight: 400;">Github Oauth is a registration and authentication service provided by Github and is connected to the Github network.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data colleceted: Various types of data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA -</span>
            <a href="http://developer.github.com/v3/oauth/">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Registration through the Application (This Website)</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The User registers by filling out the registration form and providing the Personal Information directly to the
                Application.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Username, Email and Password</span>
        </p>
        <p>
            <strong>Interaction with external social networks and platforms</strong>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">These services allow interaction with social networks or other external platforms directly from the Application&rsquo;s
                pages.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">The interaction and information obtained by this Application are always subject to the User&rsquo;s privacy settings
                for each social network.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">If a service enabling interaction with social networks is installed it may still collect traffic data for the
                pages where the service is installed, even when Users do not use it.</span>
        </p>
        <p>
            <strong>Facebook Like button and social widgets (Facebook)</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Facebook Like button and social widgets are services allowing interaction with the Facebook social network
                provided by Facebook Inc.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Cookie and Browsing and usage Data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="http://www.facebook.com/privacy/explanation.php">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Twitter Tweet button and social widgets (Twitter)</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Twitter Tweet button and social widgets are services allowing interaction with the Twitter social network
                provided by Twitter Inc.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Cookie and Browsing and usage Data.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="http://twitter.com/privacy">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Managing email addresses and sending messages</strong>
        </p>
        <p>
            <span style="font-weight: 400;">These services make it possible to manage a database of email contacts to communicate with the User via email.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">The services are used to collect data concerning the date and time when the mail is viewed by the User, as well
                as when the user interacts with incoming mail, such as by clicking on links included in the email.</span>
        </p>
        <p>
            <strong>Logic Loops</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Logic Loops is an email address management and message sending service provided by Webcontxt.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Personal data collected: Email.</span>
        </p>
        <p>
            <span style="font-weight: 400;">Place of Processing: USA &ndash;</span>
            <a href="http://sendgrid.com/privacy.html">
                <span style="font-weight: 400;">Privacy Policy</span>
            </a>
        </p>
        <p>
            <strong>Additional information about data processing</strong>
        </p>
        <p>
            <strong>Legal Protection</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The User&rsquo;s Personal Data may be used for legal purposes by the Owner of the Application in court or in
                the stages leading to possible legal action arising from its improper use or that of related services by
                the User.</span>
        </p>
        <p>
            <strong>Additional Information</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Specific information may be shown on the pages of the Site concerning particular services or the processing of
                Data provided by the User or by the Data Subject.</span>
        </p>
        <p>
            <strong>Maintenance</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The User&rsquo;s Personal Data may be further used in ways and for purposes required for Application maintenance.</span>
        </p>
        <p>
            <strong>System Logs</strong>
        </p>
        <p>
            <span style="font-weight: 400;">For operation and maintenance purposes, this Application and any third party services it uses may collect system
                logs, i.e., files that record interaction &ndash; including navigation. They may also contain personal data,
                such as IP addresses.</span>
        </p>
        <p>
            <strong>Information not contained in this policy</strong>
        </p>
        <p>
            <span style="font-weight: 400;">More information on processing Personal Information may be requested from the Owner at any time.</span>
        </p>
        <p>
            <strong>The Rights of Data Subjects</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Those persons to whom the Data refer have the right, at any time, to know whether their data has been stored
                and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or
                to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous
                format or to block any data held in violation of the law, as well as to oppose their treatment for any and
                all legitimate reasons. Requests should be sent to the Owner of the Processing System.</span>
        </p>
        <p>
            <strong>Changes to this Privacy Policy</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The Application reserves the right to make changes to this Privacy Policy at any time by giving notice to its
                Users on this page, and by ensuring analogous protection of the Personal Information in all cases. It is
                strongly recommended to check this page often, referring to the date of the last modification listed at the
                bottom.</span>
        </p>
        <p>
            <strong>Definitions and legal references</strong>
        </p>
        <p>
            <strong>Personal information or Data</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Any information regarding a natural person, a legal person, an institution or an association, which is, or can
                be, identified, even indirectly, by reference to any other information, including a personal identification
                number.</span>
        </p>
        <p>
            <strong>Browsing and usage Data</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Information collected automatically from the Site, including the IP addresses or domain names of the computers
                utilized by the users who connect to the site, the URI addresses (Uniform Resource Identifier), the time
                of the request, the method utilized to submit the request to the server, the size of the file received in
                response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.),
                the country of origin, the features of the browser and the operating system utilized by the visitor, the
                various time details per visit (e.g., the time spent on each page) and the details about the path followed
                within the site with special reference to the sequence of pages visited, and other parameters about the operating
                system and the user's IT environment.</span>
        </p>
        <p>
            <strong>User</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Means the individual user of the Application&rsquo;s services or products.</span>
        </p>
        <p>
            <strong>Data Subject</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The legal or natural person to whom the Personal Data refer.</span>
        </p>
        <p>
            <strong>Data Processor</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The natural person, legal person, public administration or any other organization, association or organization
                designated by the Data Controller for the Personal Data processing system.</span>
        </p>
        <p>
            <strong>Data Controller</strong>
        </p>
        <p>
            <span style="font-weight: 400;">The natural person, legal person, public administration or any other body, association or organization with the
                right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods
                of processing of Personal Data and the means used, including the security measures concerning the operation
                and use of this Site.</span>
        </p>
        <p>
            <strong>INFORMATION SECURITY</strong>
        </p>
        <p>
            <span style="font-weight: 400;">We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure
                or destruction of data. These include internal reviews of our data collection, storage and processing practices
                and security measures, including appropriate encryption and physical security measures to guard against unauthorized
                access to systems where we store personal data.</span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">All information gathered on our Website is securely stored within our controlled database. The database is stored
                on servers secured behind a firewall; access to the servers is password-protected and is strictly limited.
                However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee
                the security of our database, nor can we guarantee that information you supply will not be intercepted while
                being transmitted to us over the Internet. And, of course, any information you include in a posting to the
                discussion areas is available to anyone with Internet access. </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">However the internet is an ever evolving medium. We may change our Privacy Policy from time to time to incorporate
                necessary future changes. Of course, our use of any information we gather will always be consistent with
                the policy under which the information was collected, regardless of what the new policy may be. </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <strong>Grievance Redressal</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Redressal Mechanism: Any complaints, abuse or concerns with regards to content and or comment or breach of these
                terms shall be immediately informed to the designated Grievance Officer as mentioned below via in writing
                or through email signed with the electronic signature to &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..
                ("Grievance Officer"). </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-weight: 400;">Mrs. Wioleta Burdzy Seth </span>
            <strong>(Grievance Officer)</strong>
        </p>
        <p>
            <a href="http://www.humancircle.">
                <span style="font-weight: 400;">www.humancircle.</span>
            </a>
            <strong>in</strong>
        </p>
        <p>
            <span style="font-weight: 400;">Human Circle Foundation</span>
        </p>
        <p>
            <span style="font-weight: 400;">Lotus Boulevard</span>
        </p>
        <p>
            <span style="font-weight: 400;">Gautam Buddh Nagar</span>
        </p>
        <p>
            <span style="font-weight: 400;">Sector 100, Noida 201304</span>
        </p>
        <p>
            <span style="font-weight: 400;">info@HumanCircle.in</span>
        </p>
    </div>
</div>
{% endblock %}